/*
Site Footer
---------------------------------------------------------------------------------------------------- */
.site-footer {
	background-color: #fff;
	clear: both;
	@include rem(margin, 8px 0);
}

.site-footer .wrap {
	overflow: hidden;
	@include rem(padding, 48px 0);
}

.site-footer {
	@include rem(font-size, 16px);
	text-align:center;

	.footer-left {
		text-align: left;
	}

	.footer-right {
		text-align: right;
	}
}

/* Footer Widgets */

	.footer-widgets {
		border-top: 1px solid tint($dark,50%);
		clear: both;
		line-height: 1.5;
		overflow: hidden;
		@include rem(padding, 32px 0 16px);
		background-color: shade($light,5%);
		margin-bottom: 10px;
	

		p {
			@include rem(margin-bottom, 16px);
		}

		.widget {
			padding: 4rem 0;
			@include rem(margin-bottom, 24px);
		}

		.widget-area ul li {
			list-style-type: none;
			@include rem(margin-bottom, 6px);
			word-wrap: break-word;
		}

	}