//
// Variables
// --------------------------------------------------

// Color Scheme
$color-base: 			#e5e5e5 !default;
$color-primary: 		#5B8D96 !default;
$color-secondary: 		#C45A3F !default;
$color-cta: 			#0b92d2 !default;
$color-extra: 			#3B3D42 !default;

$default-blue:	$color-cta !default;

// Light and Dark
// -------------------------
$dark:                 #000D11 !default;
$light:                 #fff !default;

// Typography
// -------------------------
$textColor:             #666 !default;
$googleFont:            Lato, sans-serif !default; // Can use multiple fonts with a comma. Cabin, Open Sans, etc...
$googleFontWeight:      400 !default; // 400 or 700
$sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif !default;
$baseFontFamily:        $sansFontFamily !default;
